html {
  height: 100%;
}

body.login-page, body.invitation-page {
  min-height: 100%;
  background-image: image-url('bg-tile.png');
}

body.login-page, {
  background-color: lighten(desaturate($brand-danger, 25%), 15%);
}

body.invitation-page {
  background-color: lighten(desaturate($brand-success, 25%), 15%);
}

form#new_user, form#edit_user {
  width: 100%;
  @include vertical-align;
  color: $white;
  text-align: center;

  a {
    color: $white;
  }

  input {
    border: none;
  }

  .field:not(:first-of-type) input {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .field:not(:last-of-type) input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .form-group {
    margin-bottom: 0;
  }

  fieldset {
    margin-bottom: 1em;
  }
}
